.dialog {
  min-width: 460px;
  &_header {
    padding: 6px 20px!important;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_actions {
    border-top: 1px solid #ececec;
  }
}
