@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.app {
  font-family: "Open Sans", sans-serif;
  .app_layout {
    margin: 0 auto;
  }
}

body {
  margin: 0;
  span {
    font-family: "Open Sans", sans-serif;
  }
}
